<html>
    <head>
        <title>Welcome to BBT Lab</title>
    </head>
    <body>
        <h1>Success! Your Nginx server is successfully configured for <em>BBT Lab</em>. </h1>
<p>This is a sample page.</p>
    </body>
</html>